@media screen and (max-width:576px) {
/* header area */
  .nav-link{
    display: none;
  }
  .main-nav,
  .left-banner-area,
  .top-text-area{
    margin: 20px;
  }
 .banner{
    flex-direction: column-reverse;
  }
  .left-banner-area h2,
  .top-text-area{
    font-size: 40px;
  }
  .left-banner-area p{
    font-size: 18px;
  }
  /* our plants area */
  .plants{
  margin: 50px auto;
  gap: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 }
 .plant-card img{
  max-width: 200px;
 }
 .btn-prinary{
  padding: 19px 42px;
 }
}







@media screen and (min-width:576px) and (max-width:992px){
  .main-nav, .banner{
    flex-direction: column;
  }
  .nav-logo{
    margin-bottom: 30px;
  }
 .banner{
  margin: 40px 20px;
 }
 
 .plants{
  margin: 50px auto;
  gap: 15px; 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

}