@media screen and (max-width:576px) {
/* header area */
  .nav-link{
    display: none;
  }
  .main-nav,
  .left-banner-area,
  .top-text-area{
    margin: 20px;
  }
 .banner{
    flex-direction: column-reverse;
  }
  .left-banner-area h2,
  .top-text-area{
    font-size: 40px;
  }
  .left-banner-area p{
    font-size: 18px;
  }


  /* our plants area */
  .plants{
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;       
  justify-content: center;
  gap: 20px; 
 }
 .plant-card{
  flex-basis: calc(40% - 10px);
 }
 .plant-card img{
  max-width: 200px;
 }
 .btn-prinary{
  padding: 19px 43px;
 }


 /* Flower & Plants Lover */
 .plants-lover{
  flex-direction: column;
 }
 .right-side-textarea{
  margin: 20px;
 }
.plants-lover .right-side-textarea  h2,
.deals h2{
  font-size: 35px;
 }
  .left-image-area{
  margin: 20px;
  }
 .left-image-area img{
  width: 99%;
 }


 /* Flower & Plants Lover style */
 .trusted-badge img{
  display: none;
 }
 /* Latest  Deals style */
.deals p{
  font-size: 22px;
}
/* Join the colorful Bunch Start */
#join-section{
  padding: 80px;
}
#join-section h2{
  font-size: 30px;
}
#join-section .subscribe-area input{
  width: 218px;
  padding: 21.8px 20px;
  outline: none;
}
#join-section .subscribe-area button{
   padding: 19px 25px;
}
/* footer area  */
 footer {
  margin: 20px;
  flex-direction: column;
}
#footer-text{
  margin-bottom: 20px;
}
.footer-logo-area{
  margin: 20px 0;
}
.footer-link li{
  margin-left: 0px;
}

}







@media screen and (min-width:576px) and (max-width:992px){
  /* Header Style */
  .main-nav, .banner{
    flex-direction: column;
  }
  .banner .image-area img{
    display: none;
  }
  .nav-logo{
    margin-bottom: 30px;
  }
 .banner{
  margin: 40px 20px;
 }
 
 .plants{
  margin: 50px auto;
  gap: 15px; 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


 /* Flower & Plants Lover */

 .plants-lover{
  flex-direction: column;
 }
 .right-side-textarea{
  margin: 30px;
 }

 .left-image-area{
  margin: 20px;
 }
 .left-image-area img{
  width: 99%;
 }
 /* Join the colorful Bunch Start */
#join-section{
  padding: 100px;
}
/* footer area  */
 footer {
  margin: 30px;
  flex-direction: column;
}
#footer-text{
  margin-bottom: 20px;
}
.footer-logo-area{
  margin: 20px 0;
}
.footer-link li{
  margin-left: 0px;
}
footer #footer-text{
  max-width: 80%;
}
}