@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Noto Serif", serif;
  font-weight: 700;
  color: #000000;
}

p,
a{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: hsla(0, 0%, 0%, 0.5);
}

/* share style */
.container{
  max-width: 1140px;
  margin: 0 auto;
}

.btn-prinary{
  background-color: #E95A08;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  padding: 19px 80px;
  border: 2px solid #E95A08;
}

.btn-prinary:hover{
  background-color: #fff;
  color: #E95A08;
}
.display-flex{
  display: flex;
}
.orange-text{
  color: rgb(233, 90, 8);
}

/* nav area style */

.main-nav{
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.nav-link{
  list-style: none;
}
.nav-link li{
  margin-right: 30px;
}
.nav-link li a{
  text-decoration: none;
  font-weight: 600;
}
.nav-link a:hover{
  color: #000000;
}
.cart-icon span{
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #000000;
}

/* banner area style */

.banner{
  margin: 120px auto;
  justify-content: space-between;
  align-items: flex-end;
}
.left-banner-area h2{
  font-size: 65px;
  margin-bottom: 20px;
}